<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
	default-autowire="byName">

	<description>Spring Memcached配置文件</description>

	<!--memcached 客户端 xmemcached -->
	<bean name="memcachedClient"
		class="net.rubyeye.xmemcached.utils.XMemcachedClientFactoryBean">
		<property name="servers" value="127.0.0.1:11211"/>
		<!-- Factory 参数 -->
		<property name="sessionLocator">
			<bean class="net.rubyeye.xmemcached.impl.KetamaMemcachedSessionLocator"></bean>
		</property>
		<property name="commandFactory">
			<bean class="net.rubyeye.xmemcached.command.BinaryCommandFactory"></bean>
		</property>
		<property name="transcoder">
			<bean class="net.rubyeye.xmemcached.transcoders.SerializingTranscoder" />
		</property>
		<property name="connectionPoolSize" value="10"/>
		<property name="failureMode" value="true"/>
	</bean>
	<!-- json转换器-->
	<bean name="jsonTranscoder" class="com.qs.web.fruit.xmemcache.JsonTranscoder">
		<property name="mapper">
			<bean class="com.qs.web.fruit.xmemcache.json.JsonObjectMapper"></bean>
		</property>
	</bean>
	<!-- cache -->
	<bean name="basememcached" class="com.qs.web.fruit.xmemcache.MemcacheClientUtil">
		<property name="memcachedClient" ref="memcachedClient" />
		<!-- <property name="jsonTranscoder" ref="jsonTranscoder" /> -->
		<property name="connectTimeout" value="10000"/>
	</bean>
	<!--memcached aop -->
	<bean name="readThroughAssignCacheInterceptor"
		class="com.qs.web.fruit.xmemcache.aop.ReadThroughAssignCacheInterceptor">
		<property name="cache" ref="basememcached" />
		<property name="cacheDisabled" value="false" />
		<property name="timeout" value="100000"/>
		<property name="exp" value="600"/>
	</bean>
	<!-- 被管理的service使用 -->
	<aop:config>
		<!-- advisor n.顾问、劝告者 -->
         <aop:advisor pointcut="execution(* com.qs.web.fruit.dao.*.*.*(..))"
                     advice-ref="readThroughAssignCacheInterceptor" />                                    
                  
	</aop:config>
	
</beans>